.timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2.4rem;
}

.timer h1 {
	font-weight: 500;
	font-size: 12.6rem;
	line-height: 13rem;
}

.timer ion-icon {
	font-size: 4.8rem;
}

.controls {
	width: 100%;

	display: flex;
	justify-content: space-between;
}
